.maincontent{
				background-image: url('../image/img1.jpg');
				background-repeat: no-repeat;
				background-attachment: fixed;
				background-position: center;
				height:350px;
			}
			.contentcolumns{
				margin: 100px 0px;
   				padding: 64px 2px 80px 42px;
   				background: rgba(0, 0, 0, 0.9);
   				color:rgba(255, 255, 255, 0.44);
			}
			.signup{
				background: #fff;
			    padding: 12px 25px 23px 30px;
			    color: red;
			    height: 330px;
    			width: 363px;
    			position: absolute;
   				top: -77px;
   				left: -7px;
			}
			.login{
				background: #fff;
			    padding: 10px 33px 13px 26px;
			    color: red;
			    height: 330px;
			    width: 363px;
			    position: absolute;
			    top: -77px;
			    left: -12px;
			}
			.signbtn{
				background: none;
   				color: rgba(255, 255, 255, 0.58);
    			padding: 6px 26px;
    			outline:none;
				
			}
			.signbtn:hover{
				background: none;
   				color: rgba(255, 255, 255, 0.58);
    			
			}
			.loginbtn{
				background: none;
    			color: rgba(255, 255, 255, 0.58);
   				padding: 6px 26px;
   				outline:none;
			}
			.loginbtn:hover{
				background: none;
   				color: rgba(255, 255, 255, 0.58);
    			
			}
			.signbtn1{
				background-color:#ff4d4d;
				color:#fff;
				outline:none;

			}
			.signbtn1:hover{
				background-color: #ff3333;
				color:#fff;

			}
			.loginbtn1{
				background-color:#ff4d4d;
				color:#fff;
				outline:none;

			}
			.loginbtn1:hover{
				background-color: #ff3333;
				color:#fff;

			}forgot:hover{
				color:#ddd;
			}
			.forgot{
				color:#ccc;
			}
			.forgot:hover{
				color:#000;
			}
			.fullname{
				border-bottom: 1px solid #ccc;
			    border-top: none;
			    border-right: none;
			    border-left: none;
			    box-shadow:inset 0px 0px 0px rgba(0,0,0,.075);
			   
			}
			.usericon{
				border-bottom: 1px solid #ccc;
			    border-right: none;
			    border-left: none;
			    border-top: none;
			    background: none;
			}
			
			.input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn {
			    height: 40px;
			    padding: 10px 5px;
			    font-size: 14px;
			    line-height: 1.3333333;
			    border-radius: 0px;
			}